body {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    background: url(/img/backend.png) no-repeat center top / cover;
}
a {
    text-decoration: none;
}
li {
    list-style-type:none; /* маркеры убираем */ 
}

.container {
    max-width: 70%;
    display: flex;
    flex-direction: column;
}

.pretitle {
    color: #F78CB6;
    font-size: 28px;
    font-family: 'Lato', sans-serif;
}
.title {
    font-size: 52px;
    color: #56597A;
}
/*  header  */
.header {
    margin-top: 58px;
    margin-bottom: 80px;
}
    /* шапка - навигация */
    .nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between; 
        margin-bottom: 129px;
    }
    .nav__menu {
        display: flex;
        align-items: center;
        color: #aaaaba;
        font-size: 18px;
        font-weight: 400;
    }
    .nav__menu a{
        display: flex;
        color: #aaaaba;
    }
    .nav__menu li {
        margin-right: 72px;
    }
    .nav__menu li :hover {
        color: #56597A;
        font-weight: 700;
    }

    /* тело header-а */
    .header__body {
        display: flex;
        flex-direction: row;   
        justify-content: space-between;
    }
    .h__img {
        width: 532px;
        height: 532px;
    }
    .header__text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .header__title {
        font-size: 64px;
        color: #56597A;
    }
    .header__about {
        font-size: 20px;
        color: #919299;
    }
    
/* main */
    /* about */
    .main__container {
        margin-bottom: 194px;
    }
    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about__boxes {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: 57px;
    }
    .about__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 30px;
        background: #FFF1F9;
        max-width: 270px;
        max-height: 307px;
    }
    .about__titlebox {
        font-size: 34px;
        color: #56597A;
    }
    .about__aboutbox {
        font-size: 16px;
        color: #919299;
    }
    .about__box_outsidepadding {
        margin: 56px 23px 23px 23px; 
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .about__link {
        display: none;
    }
    .about__link a{
        color: white;
        padding-right: 8px;
    }

    /*article about `designer things`*/
    .section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .main__image {
        margin-right: 80px;
    }

    .normaltext {
        font-size: 20px;
        color: #919299;
    }

    .img_marginleft {
        margin-left: 80px;
    }
    .img__partners {
        margin-right: 90px
    }

    .main__partners {
        max-height: 157px;
    }

/* footer */
.footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 160px;
}
    .footer__subscribeinput {
        border-radius: 14px;
        border: #fff 2px solid;
        box-shadow: 0px 10px 15px #d3d3d6;
        width: 706px;
        height: 82px;
        padding: 20px;
        color: #F78CB6 ;
    }